# Fetching SEC Data

This module helps gather company data from the SEC EDGAR API.

In [ ]:
import sys
sys.path.append('../')
from secData import secData

## Example

Get summary data for Disney (DIS). Includeing its ticker, exchange, name, logo, SEC filing page, most recent filing and more.

In [3]:
from IPython.display import Image, display

sec_obj = secData("DIS")
print(f' SEC Summary: Ticker: {sec_obj.ticker}, Exchange: {sec_obj.exchange}, Name: {sec_obj.name}')
display(Image(url=sec_obj.img_url))

 SEC Summary: Ticker: DIS, Exchange: NYSE, Name: Walt Disney Co

## Financial Statements

Get 10-Q and 10-K filings instantly. This example shows Disney's most recent filing.

### Income Statement

In [5]:
sec_obj.get_latest('income_statement')

,Walt Disney Co Income Statement,"Mar. 29, 2025","Mar. 30, 2024","Mar. 29, 2025","Mar. 30, 2024"
0,Revenues,"$ 23,621","$ 22,083","$ 48,311","$ 45,632"
1,"Selling, general, administrative and other","(3,981)","(3,790)","(7,911)","(7,573)"
2,Depreciation and amortization,"(1,324)","(1,242)","(2,600)","(2,485)"
3,Total costs and expenses,"(20,115)","(19,204)","(40,727)","(39,817)"
4,Restructuring and impairment charges,(109),"(2,052)",(252),"(2,052)"
5,"Interest expense, net",(346),(311),(713),(557)
6,Equity in the income of investees,36,141,128,322
7,Income before income taxes,3087,657,6747,3528
8,Income taxes,314,(441),(702),"(1,161)"
9,Net income,3401,216,6045,2367
10,Net income attributable to noncontrolling inte...,(126),(236),(216),(476)
11,Net income (loss) attributable to The Walt Dis...,"$ 3,275",$ (20),"$ 5,829","$ 1,891"
13,Diluted,$ 1.81,$ (0.01),$ 3.21,$ 1.03
14,Basic,$ 1.81,$ (0.01),$ 3.22,$ 1.03
16,Diluted (shares),1814,1834,1816,1838
17,Basic (shares),1808,1834,1810,1833
19,Revenues,"$ 21,258","$ 19,757","$ 43,306","$ 40,732"
20,Costs,"(13,378)","(12,663)","(27,167)","(26,585)"
22,Revenues,2363,2326,5005,4900
23,Costs,"$ (1,432)","$ (1,509)","$ (3,049)","$ (3,174)"

### Balance Sheet

In [6]:
sec_obj.get_latest('balance_sheet')

,Walt Disney Co Balance Sheet,"Mar. 29, 2025","Sep. 28, 2024"
1,Cash and Cash Equivalents,"$ 5,852","$ 6,002"
2,"Receivables, net",12571,12729
3,Inventories,1999,2022
4,Content advances,1063,2097
5,Other current assets,1250,2391
6,Total current assets,22735,25241
7,Produced and licensed content costs,31820,32312
8,Investments,8794,4459
9,"Parks Resorts And Other Property, Gross Exclud...",79721,76674
10,Accumulated depreciation,"(47,532)","(45,506)"
11,"Parks, resorts and other property before proje...",32189,31168
12,Projects in progress,5740,4728
13,Land,1166,1145
14,"Parks, resorts and other property",39095,37041
15,"Intangible assets, net",10006,10739
16,Goodwill,73313,73326
17,Other assets,10070,13101
18,Total assets,195833,196219
20,Accounts payable and other accrued liabilities,20729,21070
21,Current portion of borrowings,6446,6845
22,Deferred revenue and other,6854,6684
23,Total current liabilities,34029,34599
24,Borrowings,36443,38970
25,Deferred income taxes,6298,6277
26,Other long-term liabilities,10297,10851
29,Preferred stock,0,0
30,"Common stock, $0.01 par value, Authorized – 4....",59199,58592
31,Retained earnings,53733,49722
32,Accumulated other comprehensive loss,"(2,877)","(3,699)"
33,"Treasury stock, at cost, 63 million shares at ...","(5,716)","(3,919)"
34,Total Disney Shareholders' equity,104339,100696
35,Noncontrolling interests,4427,4826
36,Total equity,108766,105522
37,Total liabilities and equity,"$ 195,833","$ 196,219"

### Cash Flow Statement

In [7]:
sec_obj.get_latest('cash_flow')

,Walt Disney Co Cash Flow,"Mar. 29, 2025","Mar. 30, 2024"
0,Net Income,"$ 6,045","$ 2,367"
2,Depreciation and amortization,2600,2485
3,"Impairments of goodwill, produced and licensed...",240,2038
4,Deferred income taxes,93,(211)
5,Equity in the income of investees,(128),(322)
6,Cash distributions received from equity investees,79,300
7,Net change in produced and licensed content co...,1889,1699
8,Equity-based compensation,647,675
9,"Other, net",(35),(6)
11,Receivables,(367),(156)
12,Inventories,(1),26
13,Other assets,10,(185)
14,Accounts payable and other liabilities,"(1,025)","(1,075)"
15,Income taxes,(89),"(1,784)"
16,Net Cash Provided by Operating Activities,9958,5851
18,"Investments in parks, resorts and other property","(4,328)","(2,558)"
19,"Other, net",(145),5
20,Cash used in investing activities,"(4,473)","(2,553)"
22,"Commercial paper borrowings (payments), net",(791),42
23,Borrowings,1057,133
24,Reduction of borrowings,"(2,913)",(645)
25,Dividends,905,549
26,Repurchases of Common Stock,"(1,785)","(1,001)"
27,Acquisition of redeemable noncontrolling inter...,0,"(8,610)"
28,"Other, net",(216),(194)
29,Cash used in financing activities,"(5,553)","(10,824)"
30,"Impact of Exchange Rate on Cash, Cash Equivale...",(76),17
31,"Change in Cash, Cash Equivalents and Restricte...",(144),"(7,509)"
32,"Cash, Cash Equivalents and Restricted Cash, Be...",6102,14235
33,"Cash, Cash Equivalents and Restricted Cash, En...","$ 5,958","$ 6,726"

### Recent Financial Data

Get the 5 most recent reports:

In [9]:
for financial in sec_obj.financials[:5]:
    print(financial['form_type'], financial['date'], financial['filing_url'])

10-Q 2025-05-07 https://www.sec.gov/Archives/edgar/data/1744489/000174448925000098/dis-20250329.htm
10-Q 2025-02-05 https://www.sec.gov/Archives/edgar/data/1744489/000174448925000067/dis-20241228.htm
10-K 2024-11-14 https://www.sec.gov/Archives/edgar/data/1744489/000174448924000276/dis-20240928.htm
10-Q 2024-08-07 https://www.sec.gov/Archives/edgar/data/1744489/000174448924000232/dis-20240629.htm
10-Q 2024-05-07 https://www.sec.gov/Archives/edgar/data/1744489/000174448924000152/dis-20240330.htm